{% extends "index.html"  %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4"> Login </h2>
                        <form method="POST">
                            {{ form.hidden_tag() }}  <!-- Ensure CSRF token is included -->
                        
                            <div>
                                <label>Email</label>
                                {{ form.email(class="form-control", placeholder="Enter email") }}
                            </div><br>
                            
                            <div>
                                <label>Password</label>
                                {{ form.password(class="form-control", placeholder="Enter password") }}
                            </div><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <a href="{{ url_for('auth.user_signup') }}" style="text-decoration: none;">Don't have an account? Sign up</a><br>
                        <div class="text-center">
                            <a href="{{ url_for('auth.forgot_password') }}" style="color: red; text-decoration: none;">Forgot password?</a>

                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
