html,body {
  position: relative;
  color: #0f0505;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 3.5rem;
  /* overflow: hidden;  */
  min-height: 100vh;
    
}

.container{
  flex: 1;
  /* overflow: hidden; */
}
  
.navbar-brand{
  text-decoration: none;
  font-family: "Poppins", sans-serif; /* Alternative: Montserrat, Arial */
  font-size: 23px; /* Adjust as needed */
  font-weight: bold;
  color:rgb(233, 236, 243); /* Dark blue */
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  }
  .navbar-brand:hover{
    color: #481d02;
  }
  .bg-steel {
    background-color: #0C2E60;
  }
  .navbar-nav a{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
  }

  /* hover */
  /* .navbar-nav a:hover{
    color: #0C2E60;
  } */

  .navbar-nav a i{
    font-size: 16px;
    vertical-align: middle;
  }
  .navbar-text:hover  {
    color: #0C2E60;
    cursor: pointer;
  }
  .site-header{
    height: 10px;
    padding: 5px 15px;
  }
  .site-header .navbar-nav .nav-link {
    font-size: 14px;
    padding: 3px 3px;
    color: #ffffff;
  }
  
  .site-header .navbar-nav a .nav-link:hover {
    color: #0C2E60;
  }
  
  .site-header .navbar-nav .navbar-text .nav-link.active {
    font-weight: 500;
  }

  /* services */
  .card-container {
    display: flex;
    gap: 10px; /* Adjust spacing */
    align-items: stretch; /* Ensures all cards stretch to the same height */
  }
  .card {
    flex: 1; /* Makes all cards take equal space */
    display: flex;
    flex-direction: column;
  }

  .custom-list {
    list-style-type: lower-alpha; /* Sets the list to a, b, c */
    padding-left: 20px; /* Adjusts spacing for alignment */
}

.custom-list li::marker {
    content: counter(list-item) ") "; /* Changes 'a.' to 'a)' */
}

h2, h3{
  color: #0C2E60;
}

/* footer */
footer .bottom {
  background-color:#0C2E60;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}