{% extends "index.html" %}
{% block content %}
    <div class="container ">
        <p>RealMindX is a dynamic and innovative educational solutions provider dedicated to empowering
            schools, teachers, and students to achieve excellence. As a registered company with a proven track record,
            we are committed to delivering comprehensive, tailor-made educational services that meet the unique needs of schools and their
            communities.
        </p>
        <h3 class="text-center fw-bold ">Our Vision</h3>
        <p>To be the leading educational agency in Ghana and beyond known for setting a benchmark
            in the education sector by continously improving our offerings and expanding our reach to impact
            more students and schools.
        </p>
        <section class="p-4 shadow rounded mb-4 bg-light">
            <h4 class="text-center fw-bold">GOALS</h4>
            <ul class="list-unstyled mt-3 text-center">
              <li><i class="fas fa-check-circle text-warning me-2"></i>Provide high-quality educational support...</li><br>
              <li><i class="fas fa-check-circle text-warning me-2"></i>Offer flexible online and in-person learning...</li><br>
              <li><i class="fas fa-check-circle text-warning me-2"></i>Develop specialized programs for special needs...</li><br>
              <li><i class="fas fa-check-circle text-warning me-2"></i>Maintain high satisfaction with feedback loops...</li><br>
            </ul>
          </section>
        <h3 class="text-center fw-bold ">Our Mission</h3>
        <p>
            To provide convenient and excellent educational services that caters to the diverse needs
            of students and teachers at all levels through innovation, flexibility and high-quality learning
            solutions, ensuring all clients achieve their full potential.
        </p>
    </div>
{% endblock %}