{% extends "index.html" %}
{% block content %}
<div class="container">
    <p class="text-start">
        RealMindX is a dynamic and innovative educational solutions provider dedicated to empowering
        schools, teachers, and students to achieve excellence. As a registered company with a proven track record,
        we are committed to delivering comprehensive, tailor-made educational services that meet the unique needs of schools and their
        communities.
    </p>

    <h3 class="fw-bold text-start">Our Mission</h3>
    <p class="text-start">
        To provide convenient and excellent educational services that caters to the diverse needs
        of students and teachers at all levels through innovation, flexibility and high-quality learning
        solutions, ensuring all clients achieve their full potential.
    </p>

    <h3 class="fw-bold text-start">Our Vision</h3>
    <p class="text-start">
        To be the leading educational agency in Ghana and beyond known for setting a benchmark
        in the education sector by continuously improving our offerings and expanding our reach to impact
        more students and schools.
    </p>

    <section class="p-2">
        <h3 class="fw-bold text-start">Our Goals</h3>
        <ul class="list-unstyled mt-3 text-start">
            <li><i class="fas fa-check-circle text-warning me-2"></i>Provide high-quality educational support...</li><br>
            <li><i class="fas fa-check-circle text-warning me-2"></i>Offer flexible online and in-person learning...</li><br>
            <li><i class="fas fa-check-circle text-warning me-2"></i>Develop specialized programs for special needs...</li><br>
            <li><i class="fas fa-check-circle text-warning me-2"></i>Maintain high satisfaction with feedback loops...</li><br>
        </ul>
    </section>
</div>
{% endblock %}
