{% extends "index.html"  %}

{% block content %}
    <div class="container">
        <h2 class="text-center fw-bold ">OUR SERVICES</h2>
        <div class="row">
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Teacher Professional Development</h5>
                        <p>Customized training programs to equip teachers with the latest pedagofical strategies,
                            classroom management techniques, and subject-specific expertise. These can be done whether online or face-to-face.
                            Our workshops and seminars are designed to:
                        </p>
                        <ol class="custom-list">
                            <li>Foster professional growth</li>
                            <li>Enhance instructional effectiveness</li>
                            <li>Support lifelong learning among educators</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Teacher Recruitment</h5>
                        <p>Streamlined recruitment processes to connect schools with highly qualified
                            and passionate teachers. We priotize matching schools with candidates who aligh with 
                            their vision and culture.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">School Structuring and Restructuring</h5>
                        <p>Comprehensive consulting services for establishing new schools or revitalizing
                            existing institutions which focus on:
                        </p>
                        <ol class="custom-list">
                            <li>Organizational design</li>
                            <li>Administrative systems</li>
                            <li>Physical infrastructure planning</li>
                            <li>School culture cultivation</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Books and Stationery Sales</h5>
                        <p>Provision of ligh-quality stationery, and other essential learning 
                            resources. We ensure affordability and reliability in all our supplies.
                            We have delivery services available for clients.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">After-School Tutoring(Online/In-Person)</h5>
                        <p>Tailored tutoring programs for students across all grade levels to provide
                            additional academic support in a structured engaging, and student-centred manner.
                            Options include:
                        </p>
                        <ol class="custom-list">
                            <li>Subject-specific tutoring(e.g., Mathematics, Science, English, etc.)</li>
                            <li>Homework assistance and exam preparation</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Research and Assignments</h5>
                        <p>Comprehensive academic support for students, professionals and researchers. Our 
                            services include:
                        </p>
                        <ol class="custom-list">
                            <li>Research proposal development and guidance</li>
                            <li>Thesis and dissertation assistance</li>
                            <li>Data analysis and Interpretation</li>
                            <li>Assignments and academic writing support</li>
                        </ol>
                        <p>We ensure high-quality, well-structured, and plagiarism-free work tailored 
                            to specific academic requirements.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Special Education Support</h5>
                        <p>Dedicated support services for students with special needs, including: 
                        </p>
                        <ol class="custom-list">
                            <li>Individualized Education Plans(IEPs)</li>
                            <li>Teacher training on inclusive practices</li>
                            <li>Resource provision and classroom adaptations</li>
                        </ol>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Weekend Classes(Online/In-Person)</h5>
                        <p>Weekend academic programs designed to help students consolidate
                            learning, bridge knowledgebgaps, and enhance overall performance. These sessions
                            are adaptable to suit specific school requirements or curriculum goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Secretarial Services</h5>
                        <p>Professional documentation and administrative support to enhance efficiency
                            and accuracy in academic and business settings. Our services include:
                        </p>
                        <ol class="custom-list">
                            <li>Preparation of business proposals and reports</li>
                            <li>Proofreading and editing for clarity and coherence</li>
                            <li>Plagiarism checks and content originality</li>
                            <li>Formatting and document structuring</li>
                    
                            
                        </ol>
                        <p>We guarantee precision, confidentiality, and timely delivery of all projects.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 card-container">
                <div class="card text-center shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title bg-warning">Educational Consulting</h5>
                        <p>Expert guidance for schools, educators, and organizations to improve
                            educational outcomes and institutional effectiveness. Our consulting services
                            include school policy development and implementation strategies. We provide data-driven
                            insights and tailored solutions to enhance teaching, learning, and school management.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
{% endblock %}
